.have__evaluation_wrap {
    background-color: #fff;
    padding: 0 .3rem .1rem;
    .title {
        font-size: .3rem;
        color: #999;
        margin-bottom: .3rem;
    }
    .have__evaluation_item {
        color: #999;
        font-size: .24rem;
        display: inline-block;
        margin-right: .2rem;
        margin-bottom: .2rem;
    }
}