.commonMenu {
    top: .86rem;
    height: 3.6rem!important;
}
.bgShade {
    background: rgba(0,0,0,.4);
    position: absolute;
    top: .86rem;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}