.publishContainer{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #f5f7f8;
}
.publishWrap {
    min-height: 99%;
    padding-bottom: 1.5rem;
    position: relative;
    user-select: none; 
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}
.commonWrap {
    height: 1rem;
    padding: 0 .2rem;
    line-height: 1rem;
    font-size: .32rem;
    background-color: #fff;
    color: #333;
    border-bottom: .01rem solid #dbdbdb;
    span {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        line-height: 1rem;
    }
    .title {
        font-size: .32rem;
        color: #333;
    }
    .val {
        font-size: .3rem;
        color: #999;
        float: right;
    }
}

.objection__wrap {
    font-size: .3rem;
    background-color: #fff;
    padding-bottom: .1rem;
}
.select_objection, .evaDate {
    height: 1rem;
    background-color: #fff;
    padding: 0 .2rem;
    line-height: 1rem;
    .select_objection_title, .evaDateTitle {
        font-size: .32rem;
        color: #333;
    }
    .to_select  {
        span {
            color: #999;
        }
        .pleaseChoose {
            vertical-align: middle;
            font-size: .3rem;
            i {
                margin-left: .1rem;
                vertical-align: 2%;
                font-size: .24rem;
            }
            span {
                font-family: "ArialMT";
            }
        }
        float: right;
    }
}
.select_objection:active, .evaDate:active {
    background-color: #dbdbdb;
}
.evaDate {
    margin-bottom: .2rem;
    margin-top: .2rem;
}
.scoreSelectWrap {
    margin-bottom: .2rem;
    border-bottom: 1px solid #dbdbdb;
}

.handle__submit {
    position: absolute;
    left: .35rem;
    right: .35rem;
    bottom: .3rem;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    font-size: .34rem;
    border-radius: .16rem;
}
.handle__submit_enable {
    background-color: #2cd18a;
    box-shadow: 0px 6px 10px 0px 
        rgba(44, 209, 138, 0.35);
    color: #fff;
}
.handle__submit_enable:active {
    background-color: #39b881;
}
.handle__submit_disabled {
    background-color: #dbdbdb;
    color: #bbb;
}
.submitText {
    padding: 20px;
    color: #333;
    font-size: .36rem;
}
.calendarHeader {
    height: 1.16rem;
    padding: .15rem;
    text-align: center;
    .title {
        color: #999;
        font-weight: bold;
        font-size: .3rem;
        margin-left: .44rem;
    }
    .hide {
        float: right;
        padding: .14rem;
        margin-top: -.12rem;
        i {
            color: #2cd18a;
            font-size: .22rem;
        }
    }
}
:global {
    .publishContainer {
        .am-calendar .confirm-panel {
            display: none;
        }
        .am-calendar .date-picker .wrapper {
            -webkit-overflow-scrolling: touch!important;
        }
    }
}

// pad样式
@media screen and (min-width: 960px) and (orientation: landscape) {
    .publishWrap {
        background-color: #f0f0f0;
    }
    .select_objection, .evaDate {
        padding: 0 .48rem;
    }
    .commonWrap {
        padding: 0 .48rem;
    }
    .handle__submit {
        bottom: 0;
        border-radius: 0;
        left: 0;
        right: 0;
        color: #fff;
    }
    .handle__submit_enable {
        background-color: #00ba9e;
    }
    .calendarHeader {
        .hide {
            i {
                color: #00ba9e;
            }
        }
    }
    .submitText {
        padding:50px 20px;
    }
    :global {
        .pickerWrap .am-list-item {
            padding: 0 .48rem!important;
        }
        .successModalWrap {
            .am-modal-transparent {
                width: 6.2rem!important;
            }
        }
    }
}