:global {
    .sinput__wrap {
        margin-bottom: .2rem;
        user-select: none; 
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        .am-stepper {
            width: 3.14rem!important;
            height: .78rem!important;
        }
        .am-stepper-handler {
            font-size: .48rem;
            color: #999;
            width: .78rem;
            height: .78rem;
            line-height: .7rem!important;
            border: .01rem solid #dbdbdb;
            border-radius: 0px;
            background-color: #f5f7f8;
        }
        .am-stepper-handler-down {
            z-index: 3;
        }
        .am-stepper-handler-up {
            position: absolute;
            z-index: 3;
            line-height: .5rem;
        }
        .am-stepper-handler-down-disabled,.am-stepper-handler-up-disabled {
            color: #dbdbdb;
        }
        .am-stepper-handler-down-disabled, .am-stepper-handler-up-disabled {
            opacity: 1;
        }
        .am-icon-minus {
            width: .24rem;
            height: .14rem;
        }
        .am-icon-plus {
            width: .24rem;
            height: .24rem;
        }
        .am-stepper.showNumber .am-stepper-input-wrap {
            height: .48rem;
        }
        .am-stepper-input {
            width: 1.6rem;
            height: .8rem;
            border: .01rem solid #dbdbdb;
            color: #fe533a;
            font-size: .48rem;
            vertical-align: middle;
            position: absolute;
            right: .78rem;
        }
    }
}
.score {
    height: 1.2rem;
    padding: 0 .2rem;
    color: #333;
    background-color: #fff;
    border-bottom: .01rem solid #dbdbdb;
    position: relative;
    .title{
        font-size: .32rem;
        line-height: 1.2rem;
        font-weight: bold;
        display: inline-block;
        height: 1.2rem;
        margin-top: -.1rem;
    }
    .input__score {
        float: right;
        position: relative;
        color: #fe533a;
        font-size: .44rem;
        min-width: 1.08rem;
        height: 1.2rem;
        background: url(../../../assets/images/scoreBg.png) no-repeat left 82%;
        background-size: 100%;
        padding-top: .16rem;
        text-align: center;
        font-family: "ArialMT";
        margin-top: -.1rem;
    }
}
.standard__wrap {
    background-color: #fff;
    padding: 0 .3rem;
    .title {
        color: #999;
        font-size: .32rem;
        height: .88rem;
        line-height: .88rem;
    }
    .standard {
        padding-bottom: .21rem;
        .standard__item {
            width: 100%;
            height: .88rem;
            line-height: .88rem;
            background-color: #f5f7f8;
            margin-bottom: .15rem;
            padding: 0 .26rem 0 .22rem;
            color: #999;
            font-size: .3rem;
            border: .01rem solid transparent;
            .score__range {
                float: right;
                font-size: .3rem;
            }
        }
        .standard__itemactive {
            color: #39b881;
            border: .01rem solid #39b881;
        }
    }

}

// pad
@media screen and (min-width: 960px) and (orientation: landscape) {
    .standard__wrap {
        padding: 0 .36rem;
        .standard {
            .standard__item {
                background-color: #ebebeb;
            }
            .standard__itemactive {
                color: #019982;
                border-color: transparent;
                background-color: #ccebe6;
            }
        }
    }
    .score {
        padding: 0 .36rem;
        color: #019982;
        border-bottom: .03rem solid #019982;
    }
}